* {
    margin: 0;
    padding: 0;
    font-family: "Genral Sans";
    box-sizing: border-box;

}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;


}

#hero {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: white;
}

#nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

#heading {
    margin-top: 90px;
}

#heading h1 {
    opacity: .6;
    margin-left: 30px;
    line-height: 1;
    font-size: 10vw;
    font-weight: 900;

}

#heading #second {
    margin-left: 230px;
}

.blocktext {
    width: fit-content;


}

.blocktext h5 {
    text-align: right;
    font-size: 15px;
}

#smallheading {
    margin-top: 100px;
    padding-right: 30px;
}

#smallheading h5 {
    text-align: right;
    text-transform: uppercase;
    margin-top: .5px;
    font-size: 1vw;
    text-align: right;
}

#herofooter {
    display: flex;
    padding: 0 2vw;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 3%;
    width: 100%;

}

#herofooter a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;

}

#herofooter #iconset {
    display: flex;
    gap: 5px;
}

#herfooter .circle {
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 25px;
    border-radius: 50%;
    background-color: #888;
}

#third {
    padding-right: 10vw;
    padding-top: 200px;
    background-color: black;
    width: 100%;
    height: 100vh;
}

.elem {
    width: 90%;
    border-top: 1px solid #888;
}